---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<html lang="en">
  <head>
    <title>Home</title>
  </head>
  <body>
    <Welcome />
  </body>
</html>


<Layout title="Home - LPVTS">
  <h1>Welcome to LPVTS</h1>
  <p>We provide solar energy solutions.</p>
</Layout>
